.content {
  margin-top: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-info {
  width: 85%;
}
.content-title {
  font-size: 42px;
  color: #39374d;
  margin-bottom: 31px;
  text-align: center;
}
.content-description {
  font-size: 18px;
  width: 80%;
  text-align: center;
  margin: auto;
  color: #7c7c7c;
}
.cards {
  display: flex;
  justify-content: space-between;
}
