.infoProcess {
  display: flex;
  flex-direction: column;
}
.info-p {
  color: #777af2;
  font-size: 14px;
  margin-bottom: 22px;
}
.info-title {
  color: #39374d;
  font-size: 36px;
  margin-bottom: 32px;
}
.info-description {
  color: #455880;
  font-size: 18px;
  margin-bottom: 65px;
}
.info-box {
  width: 450px;
}
