.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.logo {
  width: 150px;
  height: 80px;
}
.down-arrow {
  width: 11px;
  height: 10px;
  margin-left: 3px;
}
.margin-right {
  margin-right: 16px;
}
.icon-header {
  width: 15px;
  height: 15px;
}
.button-header {
  border: solid 1px rgba(119, 122, 242, 1);
}
